$primary: #007bff;
$secondary: #d900ff;
$white: #ffffff;
$dark: #000000;

.my-1 {
     margin-top: 0.25rem !important;
     margin-bottom: 0.25rem !important;
}

.mx-1 {
     margin-left: 0.25rem !important;
     margin-right: 0.25rem !important;
}

.py-1 {
     padding-top: 0.25rem !important;
     padding-bottom: 0.25rem !important;
}

.px-1 {
     padding-left: 0.25rem !important;
     padding-right: 0.25rem !important;
}